
/* Globals */

:root {
    --sidebar-width: 300px;
    --sidebar-resize-indicator-width: 8px;
    --sidebar-resize-indicator-space: 2px;
    --page-padding: 15px;
    --content-max-width: 1200px;
    --menu-bar-height: 50px;
    --mono-font: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace;
    --code-font-size: 0.875em /* please adjust the ace font size accordingly in editor.js */
}

/* Themes */

.light {
    --bg: #E6EEFF;
    --fg: #1A1100;

    --sidebar-bg: #FFF7E6;
    --sidebar-fg: #1A1100;
    --sidebar-non-existant: #808080;
    --sidebar-active: #0034A3;
    --sidebar-spacer: #B8CEFF;

    --scrollbar: #755000;

    --icons: #755000;
    --icons-hover: #1A1100;

    --links: #755000;

    --inline-code-color: #473100;

    --theme-popup-bg: #B8CEFF;
    --theme-popup-border: #E69F00;
    --theme-hover: #FFE8B8;

    --quote-bg: #FFE8B8;
    --quote-border: #001747;

    --warning-border: #E69F00;

    --table-border-color: #A37000;
    --table-header-bg: #FFF7E6;
    --table-alternate-bg: #B8CEFF;

    --searchbar-border-color: #E69F00;
    --searchbar-bg: #B8CEFF;
    --searchbar-fg: #1A1100;
    --searchbar-shadow-color: #E69F00;
    --searchresults-header-fg: #755000;
    --searchresults-border-color: #E69F00;
    --searchresults-li-bg: #B8CEFF;
    --search-mark-bg: #E69F00;

    --color-scheme: light;
}

.ayu {
    --bg: #00081A;
    --fg: #FFF7E6;

    --sidebar-bg: #1A1100;
    --sidebar-fg: #FFF7E6;
    --sidebar-non-existant: #808080;
    --sidebar-active: #5C8FFF;
    --sidebar-spacer: #002575;

    --scrollbar: #FFDA8A;

    --icons: #FFDA8A;
    --icons-hover: #FFF7E6;

    --links: #FFDA8A;

    --inline-code-color: #FFDA8A;

    --theme-popup-bg: #001747;
    --theme-popup-border: #FFBD2E;
    --theme-hover: #473100;

    --quote-bg: #473100;
    --quote-border: #B8CEFF;

    --warning-border: #FFBD2E;

    --table-border-color: #FFDA8A;
    --table-header-bg: #1A1100;
    --table-alternate-bg: #001747;

    --searchbar-border-color: #FFBD2E;
    --searchbar-bg: #001747;
    --searchbar-fg: #FFF7E6;
    --searchbar-shadow-color: #FFBD2E;
    --searchresults-header-fg: #FFDA8A;
    --searchresults-border-color: #FFBD2E;
    --searchresults-li-bg: #001747;
    --search-mark-bg: #FFBD2E;

    --color-scheme: dark;
}
